{
    "useTabs": false,
    "overrides": [{
        "files": "*.ts,*.tsx,*.json",
        "options": {
            "printWidth": 120,
            "tabWidth": 2,
            "useTabs": false,
            "trailingComma": "none",
            "arrowParens": "avoid",
            "proseWrap": "never"
        }
    }]
}